<div class="gallery press_reviews js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true }'>
  
  <div class="gallery-cell">
  	Every man should have atleast one of their shirts. That’s probably the highest praise we’ve ever given.
    <img src="https://cdn.shopify.com/s/files/1/0554/1419/4338/files/lBB-GOLD.svg?v=1632400083"/>
  </div>
  
  <div class="gallery-cell">
    Resolutely Indian….iconic and off-beat.
    <img src="https://cdn.shopify.com/s/files/1/0554/1419/4338/files/DH-gold.svg?v=1632400083"/>
  </div>
  
  <div class="gallery-cell">
    Andamen… a heritage masterclass.
    <img src="https://cdn.shopify.com/s/files/1/0554/1419/4338/files/indian-express-gold.svg?v=1632400083"/>
  </div>
  
  
</div>