<div class="pand-sd-metafield-details">
  <span class="panda-sd__product-metfield">{{ product.metafields['custom']['shipping_title']}}</span>
</div>
<style>
  .pand-sd-metafield-details .panda-sd__product-metfield {
    font-size: 17px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}
  .pand-sd-metafield-details {
   margin-bottom: 10px !important; 
  }
</style>