<div class="mobile-header">
  <div class="site-logo">
     {%- render 'nt_logo' with 'div' -%}
  </div>
</div>
{% schema %}
  {
    "name": "Mobile Header",
    "class": "mb-header",
    "settings": [],
    "presets": [
      {
        "name": {
          "en": "Mobile Header",
          "es": "Mobile Header"
        },
        "category": {
          "en": "Mobile Header",
          "es": "Mobile Header"
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
