
.fs-sr-item__image-wrapper .hover_button a {
    width: 42px !important;
    height: 42px;
    border-radius: var(--radius);
    display: block;
    padding: 0 !important;
    line-height: 42px;
    position: relative;
    margin-right: 6px;
}

.fs-sr-item-wrapper:hover .hover_button {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: row;
}



.fs-sr-item-wrapper .hover_button a.pr_atc {
    display: none;
}

.fs-sr-item-wrapper .hover_button a span {
    display: none !important;
}

.fs-sr-item-wrapper .hover_button a i {
    position: relative !important;
    color: #000 !important;
    opacity: 1;
    z-index: 99;
    display: block !important;
    transform: translateY(66%) !important;
    width: auto;
    height: auto;
    top: -2px;
}

.fs-sr-item-wrapper .iccl-eye:before {
    content: "\e903";
    opacity: 0;
}

.fs-sr-item-wrapper .iccl:before {
    font-size: 18px;
}

.fs-sr-item-wrapper i.iccl.iccl-eye::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(https://cdn.shopify.com/s/files/1/0554/1419/4338/files/open-eye.png?v=1633675422);
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
}

/* Add to badge button */
.fs-sr-grid-item__custom-info  {
    padding: 0;
    display: flex;
    min-height: 55px;
    margin-top: 10px !important;
}

.fs-sr-grid-item__custom-info .fs-sr-grid-item__info {
    width: calc(100% - 100px);
    text-align: left;
    
    margin-top: 0;
}

.fs-sr-grid-item__custom-info .product-info__btns {
    width: 100px;
    margin: 0;
}

.fs-sr-grid-item__custom-info .product-info__btns a {
        background: var(--cta);
    border-radius: var(--radius);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 10px 8px;
    letter-spacing: 1px;
    text-align: center;
}

.fs-sr-grid-item__custom-info .product-info__btns a span.tt_txt {
    display: none !important;
}

.fs-sr-grid-item__custom-info .product-info__btns.disabled a {
    pointer-events: none;
    opacity: 0.7;
}

.fs-sr-grid-item__custom-info .fs-product-title {
    margin-bottom: 0;
}

/* End add to bad button */

.fs-sr-grid-item__title {
    text-transform: uppercase;
}

.fs-slider-mark-text {
    display: none !important;
}

.fs-hide {
  display: none;
}

.fs-label-mem-exclusive {
    font-size: 9px !important;
    letter-spacing: 1px !important;
    border-radius: 2px !important;
    font-weight: 600 !important;
  
  background-color: var(--accent) !important;
  color: #fff !important;
  
      display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}


element.style {
}
.fs-label-shape-rectangle.fs-label-mem-exclusive {
    border-radius: 0 !important;
}
span.fs-label {
    color: var(--text) !important;
    background: #fff !important;
    font-size: 9px !important;
    letter-spacing: 1px !important;
    //border-radius: 2px !important;
    font-weight: 600 !important;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.fs-label-mem-exclusive {
    font-size: 9px!important;
    letter-spacing: 1px!important;
    border-radius: 2px!important;
    font-weight: 600!important;
    background-color: var(--accent)!important;
    color: #fff!important;
}
.fs-label-shape-rectangle {
    min-width: 60px;
    min-height: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: unset;
    padding: 5px;
    line-height: 1;
}
@media (max-width: 1024px) {
  .fs-label-shape-rectangle {
     padding: 4px!important;
  }
}

.fs-is-product-item__product-label {
  display: flex;
  flex-direction: column;
}