<style>
  @media screen and (min-width: 1200px){
    .wave-left {
        background: url(https://cdn.shopify.com/s/files/1/0618/3183/9957/files/You-are-central-to-us.svg?v=1646983172) no-repeat -5% 100%, url(https://cdn.shopify.com/s/files/1/0618/3183/9957/files/You-are-central-to-us-right.svg?v=1646983172) no-repeat 105% top;
        height: 347px;
    }
    
    .content-right{
      margin-top: 80px;
    }
  }
  
  @media screen and (max-width: 767px){
    #shopify-section-image_text_blocks{
      padding: 10px;
    }
    
    #shopify-section-image_text_blocks .col-md-7{
      margin: 30px 0 60px;
    }
  }
</style>

{%- section 'us_heading' -%}
{%- section 'page_about_us' -%}
<div class="text-block btn-hollow">
	{%- section 'image_text' -%}
</div>

<div class="text-block img-right btn-hollow">
	{%- section 'image_text2' -%}
</div>

<div class="mb__80">{%- section 'image_block' -%}</div>

{%- section 'image_text_blocks' -%}

<div class="mt__40 mb__80">{%- section 'image_block' -%}</div>

<div class="container-fluid tc wave-left">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb__30 mt__60">You are central to us</h3>
        <p style="max-width: 800px; margin: 0 auto;" class="mb__40">We thrive on creating the best experience for you. We look for opportunities where we can earn your trust and we walk the talk on commitments made to you. Need proof? Give us a <a style="text-decoration: underline;" href="tel:+919555263263">call</a> or <a style="text-decoration: underline;" href="mailto:contact@andamen.com">email</a> us. Our customer happiness team is there to make you smile. </p>
      </div>
    </div>
  </div>
</div>


<div class="container mb__50">
  <div class="row">
    <div class="col-12 tc">
      <img src="https://cdn.shopify.com/s/files/1/0618/3183/9957/files/Our-people.svg?v=1646984457" style="height: 60px"/>
      <h3>The Makers</h3>
    </div>
  </div>
</div>

<div class="container mb__80">
  <div class="row">
    <div class="col-12 col-md-5">
      <img src="https://cdn.shopify.com/s/files/1/0618/3183/9957/files/sidd-and-sats.jpg?v=1646984458" class="img-responsive"/>
    </div>
    <div class="col-12 col-md-7 content-right">
      <h3>Siddharth & Satvika Suri</h3>

      <p>Sid: Economics at St. Stephens. MBA from Wharton Business School. Ex Ernst & Young and Amazon. This young leader is an outdoor and adrenaline junkie, an ardent squash player and a complete world explorer.</p>

      <p>Sats: St. Stephens. ISB. National tennis champ. Don’t fall for the innocent look - no one craves a big challenge like she does. With four years of marketing in large MNCs she's finally out there building her own brand.</p>

      <p>“We started Andamen to celebrate India. To create an Indian brand that the world would be proud of. The result is a company that passionately crafts exceptional quality, iconic shirts. We hope that you appreciate the craftsmanship and love that goes into creating your Andamen products.”</p>

      <p>Sid and Sats</p>
    </div>
  </div>
</div>
