<div class="container mt__90 mb__60">
  <div class="row">
    <div class="col-12 tc mt__60">
      <img src="https://cdn.shopify.com/s/files/1/0618/3183/9957/files/success-icon-10.png?v=1669700876" style="height: 80px;" />
      <h2>Payment Successful</h2>
      <p class="mt__0">Thank you for the payment. We have recieved your payment. </p>

      <a href="https://www.andamen.com/collections/shop-all-andamen" class="button mt__30 mb__60" style="background: #a77737">Continue shopping</a>
    </div>
  </div>
</div>
